.carousel-container {
  position: fixed;
  z-index: 99;
  width: 100vw;
  height: 100vh;
  background-color: white;
  font-family: 'Roboto', sans-serif;
}

.x-svg {
  position: absolute;
  margin: 10px;
  right: 10px;
  cursor: pointer;
}