.carousel-container {
  position: absolute;
  z-index: 99;
  width: 100vw;
  height: 100vh;
  background-color: white;
}

.x-svg {
  position: absolute;
  margin: 10px;
  right: 10px;
}

.mini-gallery .carousel-item{
  width: 200px;
  height: 100px;
}

.mini-gallery .carousel-item img{
  height: 100%;
  width: auto;
}