.carousel-container {
  position: absolute;
  z-index: 99;
  width: 100vw;
  height: 100vh;
  background-color: white;
}

.x-svg {
  position: absolute;
  margin: 10px;
  right: 10px;
}

.main-image-container {
  width: 50%;
}

.main-image {
  display: inline-block;
}

.main-image img {
  width: 100%;
  height: auto;
}

.mini-gallery .carousel-item{
  display: inline-block;
  width: 100px;
}

.mini-gallery .carousel-item img{
  width: 100%;
  height: auto;
}