
.side-panel {
  display: inline-block;
  width: 19%;
  height: 100%;
  vertical-align: top;
}

.mini-gallery {
  display: block;
  position: relative;
  white-space: nowrap;
  overflow: hidden;
  margin: 45% 13% 0 0;
}

.mini-gallery-item:before {
    content: "";
    position: absolute;
    z-index: 1;
    left: 0;
    pointer-events: none;
    background-image: linear-gradient(to left, rgba(255,255,255,0), rgba(255,255,255, 1) 100%);
    width: 6%;
    height: 5em;
}

  .mini-gallery-item:after {
    content: "";
    position: absolute;
    z-index: 1;
    right: 0;
    pointer-events: none;
    background-image: linear-gradient(to right, rgba(255,255,255,0), rgba(255,255,255, 1) 100%);
    width: 6%;
    height: 5em;
  }

.mini-gallery .mini-gallery-item{
  display: inline-flex;
  justify-content: center;
  align-items: center;
  height: 50px;
  width: 50px;
  opacity: 0.6;
  overflow: hidden;
  border-radius: 5px;
  margin-left: 5px;
}

.mini-gallery .mini-gallery-item:hover {
  opacity: 1;
}

.mini-gallery .mini-gallery-item img{
  height: 100%;
  width: auto;
  cursor: pointer;
}

.caption {
  margin-top: 15%;
  margin-right: 20%;
}

.caption p{
  margin: 9% 0;
}

.caption p:first-child {
  font-weight: bold;
}