.gallerycontainer {
  display: grid;
  height: 300px;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: auto auto;
  overflow: hidden;
  /* border:1px solid transparent; */
}

.gallerycontainer img {
  -webkit-transition: 0.3s all ease-in;
  -moz-transition: 0.3s all linear;
  -moz-transition: 0.3s all linear;
  -ms-transition: 0.3s all linear;
  -o-transition: 0.3s all linear;
  transition: 0.3s all linear, 0.3s all linear;
}

.gallerycontainer:hover img { 
  filter: brightness(60%);
  transform: scale(1);

}

.gallerycontainer:hover > .galleryitem img:hover {
  /* transform: translateZ(0); */
  transform: scale(1.05);
  filter: brightness(100%);
  cursor: pointer;

  -webkit-transition: 0.4s -webkit-filter ease-in-out;
  -moz-transition: 0.4s -moz-filter ease-in-out;
  -moz-transition: 0.4s filter ease-in-out;
  -ms-transition: 0.4s -ms-filter ease-in-out;
  -o-transition: 0.4s -o-filter ease-in-out;
  transition: 0.4s filter ease-in-out, 0.4s -webkit-filter ease-in-out;

  -webkit-transition: transform 0.3s linear;
  -moz-transition: transform 0.3s linear;
  -ms-transition: transform 0.3s linear;
  -o-transition: transform 0.3s linear;
  transition: transform 0.3s linear;

  -webkit-transition-delay: 0.15s;
  transition-delay: 0.15s;
}

.galleryitem {
  height: 100%;
  overflow: hidden;

  display: flex;
  justify-content: center;
  align-items: center;

  border: solid #006c70 1px;
}

.galleryitem:nth-child(1) {
  grid-column-start: 1;
  grid-column-end: 3;
  grid-row-start: 1;
  grid-row-end: 3;
}

.galleryitem:nth-child(2) {
  grid-column-start: 3;
  grid-column-end: 4;
}

.galleryitem:nth-child(3) {
  grid-column-start: 4;
  grid-column-end: 5;
}

.galleryitem:nth-child(4) {
  grid-column-start: 3;
  grid-column-end: 4;
}

.galleryitem:nth-child(5) {
  grid-column-start: 4;
  grid-column-end: 5;
}

.galleryImage {
  /* object-fit: contain; */
   width: 100%;
  min-height: 100%;
}